.menu {
    background-color: #000;
    padding: 20px 0;
}

.nav-item {
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    color: white;
}

.nav-item:hover {
    color: orange;
}